# Auth Service
PORT=5001
MONGO_URI=mongodb+srv://lakshaybh2004_db_user:800590@cluster0.gyesxet.mongodb.net/?appName=Cluster0
JWT_SECRET=bidrush_super_secret_key_2024
# Auction Service
PORT=5002
MONGO_URI=mongodb+srv://lakshaybh2004_db_user:800590@cluster0.gyesxet.mongodb.net/auction-db?retryWrites=true&w=majority&appName=Cluster0

# Bid Service
PORT=5003
MONGO_URI=mongodb+srv://lakshaybh2004_db_user:800590@cluster0.gyesxet.mongodb.net/?appName=Cluster0
REDIS_URL=rediss://default:Afo5AAIncDIxNGFlOTYzMzkyY2M0YTI5ODMyYWY5M2QwMTBhZDM4MXAyNjQwNTc@fast-crane-64057.upstash.io:6379

# Notification Service
PORT=5004
REDIS_URL=rediss://default:Afo5AAIncDIxNGFlOTYzMzkyY2M0YTI5ODMyYWY5M2QwMTBhZDM4MXAyNjQwNTc@fast-crane-64057.upstash.io:6379

# Gateway
PORT=5000